<%= render partial: "menu" %>

<div class="ui hidden divider"></div>

<div class="ui container">
  <div class="column">
    <div class="ui segment">
      <h2 class="ui header container-header">Photos</h2>

      <div class="ui list photos">
      <% @user.photos.each do |photo| %>
        <div class="item photo">
          <%= link_to photo.user.username, user_path(photo.user.username) %>
          <%= time_ago_in_words photo.created_at %> ago<br>
          <%= image_tag photo.image.url %>
          <p class="description"><%= photo.description %></p>
          <p>
            <%= link_to 'Delete Photo', photo_path(photo),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
          </p>
        </div>
      <% end %>
      </div>
      <div class="ui hidden divider"></div>
    </div>
  </div>
</div>

