<div class="ui container">
  <div class="column column-photos">
    <h1 class="ui header page-header">PhotoReel</h1>

    <% if @recommended_users.any? %>
      <p>You are not following anyone.
          Recommended users: </p>
        <% @recommended_users.each do |user| %>
          <div class="user list">
            <%= link_to user.username, user_path(user) %>
          </div>
        <% end %>
    <% end %>

    <%= paginate @photos %>


    <div class="ui container container-photos">
      <% @photos.each do |photo| %>
      <div class="ui container container-photo">

        <div class="ui container container-photo-header">
          <div class="ui top attached left aligned header pointed left">
            <%= link_to photo.user.username, user_path(photo.user.username), class: "user-link" %>
            <div class="photo-timestamp">
              <%= time_ago_in_words photo.created_at %> ago
            </div>
          </div>
        </div>

        <div class="ui container container-photo-image">
          <%= image_tag photo.image.url %>
        </div>

        <div class="ui container container-photo-description">
          <%= photo.description %>
        </div>

        <div class="ui container container-like-count">
          <%= pluralize(photo.likes.count, "like") %>
        </div>

        <div class="photo like">
        <% if photo.likes.where(user_id:current_user.id).any? %>
          <%= button_to "Unlike", unlike_photo_path(photo), class: "ui blue button", method: :post  %>
        <% else %>
          <%= button_to "Like", like_photo_path(photo), class: "ui blue button", method: :post %>
        <% end %>
        </div>


        <div class="ui container container-photo-comments">
          <h3 class="ui header container-header">Comments</h3>
          <% photo.comments.each do |comment| %>
            <div>
              <strong><%= link_to current_user.username, photo_path(photo.user.id) %></strong>
              <%= comment.body %> <%= time_ago_in_words comment.created_at %> ago
            </div>
          <% end %>

          <h4 class="ui header container-header">Add a comment:</h4>
          <%= render partial: "comments/form", locals: { photo: photo } %>
        </div>
      </div>

      <div class="ui hidden divider"></div>
      <% end %>
    </div>

    <%= paginate @photos %>
  </div>
</div>
