<!DOCTYPE html>
<html>
  <head>
    <title>PhotoReel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="/semantic-2.2.12/semantic.min.css">
    <script src="/jquery-3.1.1/jquery-3.1.1.min.js"></script>
    <script src="/semantic-2.2.12/semantic.min.js"></script>
  </head>
  <body>

    <div class="ui fixed menu main-menu">
      <div class="ui container">
        <% if user_signed_in? %>
          <%= link_to "PhotoReel", root_path, class: "header item" %>
          <div class="right menu">
            <%= link_to "My Photos", user_path(username: current_user.username), class: "item" %>
            <%= link_to "Upload photo", new_photo_path, class: "item" %>
            <%= link_to "Settings", edit_user_registration_path, class: "item" %>
            <%= link_to "Log out", destroy_user_session_path, class: "item", method: :delete %>
          </div>
        <% else %>
          <%= link_to "PhotoReel", root_path, class: "item" %>
          <div class="right menu">
            <%= link_to "Sign up", new_user_registration_path, class: "item" %>
            <%= link_to "Log in", new_user_session_path, class: "item" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="ui main text container">
      <div class="ui container">
        <% if notice %>
          <div class="ui warning message">
            <%= notice %>
          </div>
          <div class="ui hidden divider"></div>
        <% end %>
        <% if alert %>
          <div class="ui error message">
            <%= alert %>
          </div>
          <div class="ui hidden divider"></div>
        <% end %>
      </div>

      <div class="ui vertical masthead center aligned segment">
        <div class="ui container">
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
          <div class="three wide column">
            <h4 class="ui inverted header">About</h4>
            <div class="ui inverted link list">
              <a class="item" href="/blog">Blog</a>
              <a class="item" href="/pages/contact">Contact</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Platform</h4>
            <div class="ui inverted link list">
              <a class="item" href="/pages/api">API</a>
              <a class="item" href="/pages/status">Status</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
